#{extends 'main.html' /}
#{set title:'Titus' /}
     

<div id="teaser">
  <div class="wrap">
    <div id="image"></div>
    <div class="box">
      <h2><em title="Sharing and breakdowning devices">About Titus</em></h2>
    </div>
  </div>
</div>

  <div class="wrap container">
  	<p><h3>Somos una empresa dedicada a la importación de repuestos a pedido para notebooks, all in one y tablets.</h3></p>
  	<p>
  		<h3>Hemos organizado un Moderno (PPC) Pool de Compras Cooperativo. En el cual los usuarios ingresan las solicitudes de cotizacion de los repuestos indicando solo el modelo y marca del equipo.</h3>
  	</p>
  	<p><h3>Nuestros operadores toman los casos hasta encontrar el repuesto adecuado para cada equipo y cotizarlo en menos de 15 minutos.</h3></p>
  </div>
<div id="footer">
  <p class="right">Design: <a href="#">EAZ</a></p>
  <p>&copy; Copyright 2013 <a href="#">Titus Intelligence</a> &middot; All Rights Reserved</p>
</div>
