

  #{if components != null && components.size()>0}
  <div class="wrap container">
  <h3></h3>
  <h3>Resul<span class="red">tados de </span> ${trademark} ${model} ${type}</h3>
  	<table id="results" class="table table-striped">
  		<thead>
  			<tr>
  				<th>Marca</th>
  				<th>Tipo</h>
  				<th>Modelo</th>
  				<th>Nro de parte</th>
  				<th></th>
  			</tr>
  		</thead>
  		<tbody>
  			#{list items:components, as:'component'}
  				<tr>
  					<td>${component.trademark.description}</td>
  					<td>${component.type.description}</td>
  					<td>${component.model}</td>
  					<td>${component.partNumber}</td>
  					<td><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="javascript: openDetail(${component.id});">Ver</button></td>
  				</tr>
  			#{/list}
  		</tbody>
	</table>
  </div>
  
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Detalle de producto</h4>
	      </div>
	      <div class="modal-body">
  			<div id="componentDetail"></div>
  		  </div>
  		</div>
  	</div>
  </div>
  #{/if}
  #{else}
  	#{if step == 2}
	  #{form @Titus.noResults() }
	  		<div class="wrap">
					<div class="form-group" id="modeloStep">
	    				<label for="mail">No encontramos resultados, pero dejanos tu mail que en 15 minutos te enviamos una respuesta satisfactoria
	    				</label>
	    				<input type="text" class="form-control" id="mail" name="mail" >
	    				<input type="hidden" id="query" name="query" value="${query}"/>
	    				<button type="submit" class="btn btn-large btn-primary">Quiero!</button>
					</div>
			</div>
		#{/form}
	#{/if}
  #{/else}