#{extends 'main.html' /}
#{set title:'Titus' /}
      
<script type="text/javascript">



/* Table initialisation */
$(document).ready(function() {
	
	$('#marcaStep').hide();
	$("#tipoStep").hide();
	$("#moreDataButtonType").hide();
	$("#searchButton").hide()
	
	
} );

openDetail = function(componentId) {
	  var action = #{jsAction @viewDetail(':componentId') /}
	  $("#componentDetail").html("");
	   $.post(action({componentId: componentId}), function(data) {
          $("#componentDetail").append(data);
          $(".fancybox").fancybox({
        	  	type : 'image',
        	  	afterLoad  : function () {
                    $.extend(this, {
                        aspectRatio : false,
                        type    : 'html',
                        width   : '100%',
                        height  : '100%',
                        content : '<div class="fancybox-image" style="background-image:url(' + this.href + '); background-size: cover; background-position:50% 50%;background-repeat:no-repeat;height:100%;width:100%;" /></div>'
                    });
                }
        	});
          
	   });
	  
	  
}

</script>
<div id="teaser">
  <div class="wrap">
    <div id="image"></div>
    <div class="box">
      <h2><em title="Sharing and breakdowning devices">Magic is here!</em></h2>
      <p>You can make a search for anyone attribute of your device and you will get the best results.</p>
    </div>
  </div>
</div>

<div class="wrap">
  <div class="search">
   #{if flash.success}
  	 <div class="alert alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>${flash.success}</strong> Tendrás una respuesta en menos de 15 minutos.
      </div>
	#{/if}
    <h3>Make a <span class="red">Search </span></h3>
    			
				<div class="form-group" id="modeloStep">
    				<label for="modelo">Conocés el modelo?
    				</label>
    				<input type="text" class="form-control" id="modelo" name="model" >
				</div>
    			<div class="btn-group" data-toggle="buttons" id="marcaStep">
	    			<div><label>Conocés la marca?</label></div>
	    			#{list items:trademarks, as:'t'}
					  <label class="btn btn-primary trademark">
					    <input type="radio" name="trademark" id="option" value="${t.description}">${t.description}
					  </label>
					#{/list}  
				</div>
				<div class="btn-group" data-toggle="buttons" id="tipoStep">
	    			<div><label>Tipo de componente</label></div>
	    			#{list items:types, as:'type'}
					  <label class="btn btn-primary trademark">
					    <input type="radio" name="tipo" id="option1" value="${type.description}"> ${type.description}
					  </label>
					#{/list}  
				</div>
				<br /> <br />
				<br />
				<div class="btn-group">
					<button id="moreDataButton" type="button" onclick="javascript:showNextStep('marca')" 
					class="btn btn-large btn-primary">Siguiente</button>
					<button id="moreDataButtonType" type="button" onclick="javascript:showNextStep('tipo')" 
					class="btn btn-large btn-primary">Siguiente</button>
				    <button id="searchButton" type="button" class="btn btn-large btn-primary"
				    	data-toggle="modal" data-target="#results" onclick="javascript:showNextStep('resultados')">Buscar</button>
				</div>
  </div>
</div>

 <div class="modal fade" id="results" tabindex="-3" role="dialog" aria-labelledby="results" aria-hidden="true">
    <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      </div>
	      <div class="modal-body">
  			<div id="resultList"></div>
  		  </div>
  		</div>
  	</div>
  </div>

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Detalle de producto</h4>
	      </div>
	      <div class="modal-body">
  			<div id="componentDetail"></div>
  		  </div>
  		</div>
  	</div>
  </div>
<div id="footer">
  <p class="right">Design: <a href="#">EAZ</a></p>
  <p>&copy; Copyright 2013 <a href="#">Titus Intelligence</a> &middot; All Rights Reserved</p>
</div>
<script type="text/javascript">

<!--
	
	var showNextStep = function(step) {
	 	if (step == 'marca') {
	 		if ( $("#modelo").val() == ""  ) {
				alert("te falta ingresar un modelo, loco");
				return;
	 		}  
	 		else {
	 			$("#modeloStep").hide();
	 			$("#moreDataButton").hide();
	 			$("#tipoStep").hide();
	 			$("#marcaStep").show();
	 			$("#moreDataButtonType").show();
	 			$('.trademark').button();	
	 		}
	 	} else if (step == 'tipo') {
	 		$("#modeloStep").hide();
	 		$("#marcaStep").hide();
 			$("#moreDataButton").hide();
 			$("#moreDataButtonType").hide();
 			$("#tipoStep").show();
 			$("#searchButton").show();
 			$('.trademark').button();	
 			
	 	} else if (step ="resultados") {
	 		$("#resultList").html("");
	 		$("#modeloStep").show();
	 		$("#marcaStep").hide();
 			$("#moreDataButton").show();
 			$("#moreDataButtonType").hide();
 			$("#tipoStep").hide();
 			$("#searchButton").hide();
 			$('.trademark').button();
		    var action = #{jsAction @makeASearch(':trademark', ':model', ':type') /}
			trademark = $('input[name=trademark]:checked').val();
			type = $('input[name=tipo]:checked').val();
			model = $('#modelo').val();
		   $.post(action({trademark: trademark, model: model, type: type}), function(data) {
	          $("#resultList").append(data);
		   });
	 	}
	
	}
//-->
</script>
