#{extends 'main.html' /}
#{set title:'Titus' /}
      
<div id="teaser">
  <div class="wrap">
    <div id="image"></div>
    <div class="box">
      <h2><em title="Sharing and breakdowning devices">File Feeder</em></h2>
      <p>You can post an excel file to feed to Titus</p>
    </div>
  </div>
</div>

<div class="wrap">
  <div class="search">
    <h3>Feed <span class="red">him</span></h3>
    		#{form @Titus.feedHim(),  enctype:'multipart/form-data', class:"form-horizontal form-inline" }
				<div class="form-group">
    				<p><label class="sr-only" for="food">Select a file</label>
    				<input type="file" class="form-control" id="food" placeholder="a file" name="food" >
				    <button type="submit" class="btn btn-default">feed him!</button>
				    </p>
				</div>
			#{/form}
  </div>
</div>
  #{if components != null && components.size()>0}
  <div class="wrap container">
  <h3>Resul<span class="red">tados</span></h3>
  	<table id="results" class="table table-striped">
  		<thead>
  			<tr>
  				<th>Marca</th>
  				<th>Tipo</h>
  				<th>Modelo</th>
  				<th>Submodelo</th>
  				<th>Nro de parte</th>
  			</tr>
  		</thead>
  		<tbody>
  			#{list items:components, as:'component'}
  				<tr>
  					<td>${component.marca}</td>
  					<td>${component.tipo}</td>
  					<td>${component.modelo}</td>
  					<td>${component.submodelo}</td>
  					<td>${component.nroDeParte}</td>
  				</tr>
  			#{/list}
  		</tbody>
	</table>
  </div>
  #{/if}
<div id="footer">
  <p class="right">Design: <a href="#">EAZ</a></p>
  <p>&copy; Copyright 2013 <a href="#">Titus Intelligence</a> &middot; All Rights Reserved</p>
</div>
