<script type="text/javascript" charset="utf-8">

        $(document).ready(function() {
            $('#example').dataTable();
        } );
    $("input:radio").click(function() {
        var profesionalId = $('input:radio:checked').val();

        $("#profesionalId").val(profesionalId)
        var getprofesionalAction = #{jsAction @profesional(':profesionalId') /}
                $.post(getprofesionalAction({profesionalId: profesionalId}), function (data) {
                    $("#profesional").val(data.apellido + ", " + data.nombre)
                    $('#AdminProfesionales').modal('toggle');
                })
    })
</script>


    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Apellido</th>
                <th>Nombre</th>
                
            </tr>
        </thead>
        <tbody>
            #{list items:profesionales, as: 'p'}
                <tr>
                    <td><input type="radio" value="${p.id}" /> </td>
                    <td>${p.apellido}</td>
                    <td>${p.nombre}</td>
                </tr>
            #{/list}
        </tbody>
    </table>