#{extends 'main.html' /}
#{set title:'Titus' /}
     

#{form @Administration.saveFeature(), enctype:'multipart/form-data', class:"form-horizontal"}
<div id="teaser">
  <div class="wrap">
    <div id="image"></div>
    <div class="box">
      <h2><em title="Sharing and breakdowning devices">&{'features'}</em></h2>
      <p>&{'features.page.description'}</p>
    </div>
  </div>
</div>

  #{if features != null && features.size()>0}
  <div class="wrap container">
  	<table id="results" class="table table-striped">
  		<thead>
  			<tr>
                <th></th>
                <th>&{'description'}</th>
  			</tr>
  		</thead>
  		<tbody>
  			#{list items:features, as:'feature'}
  				<tr>
                    <td><input type="checkbox" name="selectedFeature" value="${feature.id}"> </td>
                    <td>${feature.description}</td>

  				</tr>
  			#{/list}
  		</tbody>
	</table>
  </div>
  #{/if}
  #{else}
  <div class="wrap container">
  	<p>&{'features.no.results'}</p>
  </div>
  #{/else}
    <div class="wrap container">
        <div class="modal-footer">
            <button type="button" onclick="javascript: $('input:checkbox').removeAttr('checked');" class="btn btn-primary" data-toggle="modal" data-target="#myModal">&{'new'}</button>
            #{if features != null && features.size()>0}
            <input type="submit" class="btn btn-primary" formaction="/Administration/removeFeature" value="&{'remove'}"/>
            <button type="button" onclick="javascript:getFeature()"  class="btn btn-primary" data-toggle="modal" data-target="#myModal">&{'edit'}</button>
            #{/if}
            <button type="button" class="btn btn-primary">&{'cancel'}</button>
        </div>
    </div>
<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">&{'feature.add'}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="description">&{'description'}: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="description" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">&{'close'}</button>
                    <button type="submit" class="btn btn-primary">&{'save'}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
#{/form}
<div id="footer">
  <p class="right">Design: <a href="#">EAZ</a></p>
  <p>&copy; Copyright 2013 <a href="#">Titus Intelligence</a> &middot; All Rights Reserved</p>
</div>
<script type="text/javascript">

    var getFeature = function() {
        if ($('input:checked').length > 1 ) {
            alert('Puede editar una sola feature');
            return false;
        };

        if ($('input:checked').length < 1 ) {
            alert('Debe editar una  feature');
            return false;
        }

        var id = $('input:checked').val();
        $.ajax( {
                    url: "/feature/" + id,
                    success: function(response) { $("#description").val(response.description); }
                }

        );
    }
</script>
