#{extends 'main.html' /}
#{set title:'Titus' /}

<div id="teaser">
  <div class="wrap">
    <div id="image"></div>
    <div class="box">
      <h2>Administración </h2>
      <p>Desde esta pantalla puede crear Componentes, marcas, tipos, características y partes</br>También se podrá realizar todo el tratamiento de pendientes y consulta de clientes</p>
    </div>
  </div>
</div>
<div id="bar">
  <div class="wrap"> <a href="/Administration/trademarks"><span class="step">Marcas </span> </a><a  href="/Administration/features"><span class="step">Caracteristicas</span></a>
      <a  href="/Administration/componenttypes"><span class="step"> Tipo de componentes</span></a>  <a href="/Administration/components"><span class="step">Componentes</span></a>
      <a href="/Administration/parts"><span class="step">Partes</span> </a></div>
</div>

<div id="bar">
    <div class="wrap">
           <a href="/Administration/pendings"><span class="step">Pendings </span> </a><a  href="/Administration/clients"><span class="step">clientes</span></a>
    </div>
</div>

<div id="footer">
  <p class="right">Design: <a href="#">EAZ</a></p>
  <p>&copy; Copyright 2013<a href="#">Titus Intelligence</a> &middot; All Rights Reserved</p>
</div>
