@import url(http://fonts.googleapis.com/css?family=Krona+One);

@import url(http://fonts.googleapis.com/css?family=Chango);

@import url(http://fonts.googleapis.com/css?family=Monoton);

@import url(http://fonts.googleapis.com/css?family=Cherry+Cream+Soda);


*{ margin: 0; padding: 0; }*
body {  margin: 50px 0 0; background: #fff; font: 14px "Trebuchet MS", Arial, Sans-Serif;  color: #444; }
	h1 { font-size: 3em; font-weight: normal; float: left; }
	h1 a { text-decoration: none; }
	h2 { font-size: 2em; color: #990080; font-weight: normal; margin: 0 0 .8em; }
	h3 { font-size: 1.5em; border-bottom: 1px solid #eee; margin: 0 0 .8em; }
	p  { margin: 0 0 2em 0; line-height: 1.8em; }
	em { border-bottom: 1px dotted #fff; cursor: pointer; }
	a { color: #9D2900; }
	a:hover { color: #A0000E; text-decoration: none; }
	img { border: 0; }
	.red { color: #9D2900; 
	}
input[type="text"] {
	height: 50px;
	font-size: 2em;
}

.wrap { width: 900px; margin: 0 auto; }
 
button {
	font-family: 'Chelsea Market', sans-serif;
}


#header { width: 900px; height: 50px; margin: 0 auto; }
	#menu  { float: right; padding: 6px 0 0 0; list-style: none; }
		#menu li { display: inline; }
		#menu a { display: block; float: left; margin-left: 30px; padding: 7px; text-decoration: none; font-size: 13px; color: #000000; }
		#menu a:hover { color: #000; border-bottom: 2px solid #ccc; }
		#menu .active a { border-bottom: 2px solid #C70012; color: #9D2900;}
 
#teaser { clear: both; height: 259px; background: #fff  }
	.box { float: left; padding: 66px 0 0; width: 480px; color: #5C5C5C; }
	#image { float: right; width: 388px; position: relative; top: 16px; background: url(/public/images/titus.gif) no-repeat top right; height: 240px; }
	
#bar { height: 40px; margin: 0 0 30px; padding: 8px 0 0 0; }
	.step { cursor: pointer; color: #FFB114; padding: 4px 0 0 11px; margin: 0 35px 0 0; font-size: 1.4em; float: left; text-align: center; background: url(../images/step.gif) no-repeat; height: 30px; }
	.step a { color: #fff; margin: 0 10px 0 0; }
	
.col { float: left; width: 276px; margin: 0 30px 16px 0; }
	.last { float: right; margin: 0; }
	.info { border: 1px solid #e0e0e0; background: #f4f4f4; padding: 7px; }

.search {
	float: left; width: 100%; margin: 0 30px 16px 0;
}
#footer { clear: both; width: 900px; margin: 0 auto; padding: 15px; border-top: 1px solid #e0e0e0; background: #fff url(../images/small_logotype.jpg) no-repeat right 13px; }	
	#footer .right { float: right; margin: 0 55px 0 0; }
	#footer a { color: #808080; font-weight: bold; }