<script type="text/javascript" charset="utf-8">

        $(document).ready(function() {
            $('#example').dataTable();
        } );
    	$("input:radio").click(function() {
        	var pacienteId = $('input:radio:checked').val();
			var profesionalId = $("#profesional").val();
	        $("#pacienteId").val(pacienteId)
    	    var getPacienteAction = #{jsAction @paciente(':pacienteId', ':profesionalId') /}
                $.post(getPacienteAction({pacienteId: pacienteId, profesionalId: profesionalId}), function (data) {
                	console.log(data);
                    $("#paciente").val(data.apellido + ", " + data.nombres)
                      #{if !tieneObraSocial}
                    	$("#notaOS").show();
                    #{/if}		
                    $('#AdminPacientes').modal('toggle');
                })
    	})
</script>


    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Nro de Afil.</th>
                <th>Obra Social</th>
                <th>T. Pago</th>
            </tr>
        </thead>
        <tbody>s
            #{list items:pacientes, as: 'p'}
                <tr>
                    <td><input type="radio" value="${p.id}" /> </td>
                    <td>${p.apellido}</td>
                    <td>${p.nombres}</td>
                    <td>${p.dni}</td>
                    <td>${p.nroAfiliado}</td>
                    #{if p.obraSocial}
                    <td>${p.obraSocial.nombre}</td>
                    #{/if}
                    #{else }
                    <td>Sin Obra Social</td>
                    #{/else}
                    <td>${p.tipoPago}</td>
                </tr>
            #{/list}
        </tbody>
    </table>