<html>
<head>
    <link rel="stylesheet" media="all" href="@{'/public/stylesheets/datatables.min.css'}">
    <link rel="stylesheet" media="all" href="@{'/public/stylesheets/bootstrap.min.css'}">
    <link rel="stylesheet" media="all" href="@{'/public/stylesheets/bootstrap-theme.min.css'}">
    <link rel="stylesheet" media="all" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" media="all" href="@{'/public/stylesheets/jquery-ui.css'}">

    <script src="@{'/public/javascripts/jquery-1.10.2.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/jquery-ui.js'}"></script>
    <script type="text/javascript" src="@{'public/javascripts/datatables.min.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="utf-8"></script>
    
</head>
<body>
<div class="container" style="font-size: 10px !important;"">


#{set profesional: "" /}
<div class="row">
	#{list items:appointments, as: 'a'}
    	#{if !(a.profesional).equals(profesional) }
    	#{if !profesional.equals("")}
    		</table>
    		</div>
    		</div> <!--col -->
    	#{/if}	
        	<div class="col" >
        	<div>Profesional: ${a.profesional.apellido + ", " + a.profesional.nombre}</div>
        	<div>
        	<table class="table table-bordered"  style="font-size: 8px !important;">
        #{set profesional: a.profesional/}
        #{/if}
    	        
         <tr>
           #{set prestacionesTitulo = (a.prestaciones != null) ? a.prestaciones : "" /}
           #{set particularTitulo = (a.particular ) ? "PART" : "NO PART" /}
           #{set obraSocialTitulo = (a.paciente.obraSocial != null) ? a.paciente.obraSocial.nombre : "SIN OS"/}
                <td>${a.cita.hora}</td>
                <td>${a.paciente} - ${a.prestaciones} - ${prestacionesTitulo} - ${particularTitulo} - ${obraSocialTitulo}</td>
                <td>${a.advance}</td>
            </tr>
         
 
             

#{/list}
</div> <!--row -->
</div> <!--container -->
</body>
</html>

