#{extends 'main.html' /}
#{set title:'CIMA' /}

<div id="teaser">
    <div class="wrap">
        <div id="image"></div>
        <div class="box">
            <h2>Administración </h2>
            <p>Desde esta pantalla puede crear Componentes, marcas, tipos, características y partes</br>También se podrá realizar todo el tratamiento de pendientes y consulta de clientes</p>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="search">
    #{if flash.success}
        <div class="alert alert-warning fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>${flash.success}</strong> Tendrás una respuesta en menos de 15 minutos.
        </div>
    #{/if}
        <h3>Make a <span class="red">Search </span></h3>

        <div class="form-group" id="modeloStep">
            <label for="modelo">Conocés el modelo?
            </label>
            <input type="text" class="form-control" id="modelo" name="model" >
        </div>
        <div class="btn-group" data-toggle="buttons" id="marcaStep">
            <div><label>Conocés la marca?</label></div>
        #{list items:trademarks, as:'t'}
            <label class="btn btn-primary trademark">
                <input type="radio" name="trademark" id="option" value="${t.description}">${t.description}
            </label>
        #{/list}
        </div>
        <div class="btn-group" data-toggle="buttons" id="tipoStep">
            <div><label>Tipo de componente</label></div>
        #{list items:types, as:'type'}
            <label class="btn btn-primary trademark">
                <input type="radio" name="tipo" id="option1" value="${type.description}"> ${type.description}
            </label>
        #{/list}
        </div>
        <br /> <br />
        <br />
        <div class="btn-group">
            <button id="moreDataButton" type="button" onclick="javascript:showNextStep('marca')"
                    class="btn btn-large btn-primary">Siguiente</button>
            <button id="moreDataButtonType" type="button" onclick="javascript:showNextStep('tipo')"
                    class="btn btn-large btn-primary">Siguiente</button>
            <button id="searchButton" type="button" class="btn btn-large btn-primary"
                    data-toggle="modal" data-target="#results" onclick="javascript:showNextStep('resultados')">Buscar</button>
        </div>
    </div>
</div>
